


  section{
   width: 350px;
    border-radius: 15px;
    padding: 10px;
    margin: 50px 0 0 ;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  section:hover {
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
  }
  input {
    padding: 0.5em;
    margin: 0.5em;
  }
 
  
  table{
    width: 50%;
    border: 1px solid #ccc;
    border-collapse: separate;
    border-radius: 5px;
    background-color: #070707;
    color: #faf7f7;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    
  }
  th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  
  }
  th{
    background-color: #070707;
    color: #faf7f7;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9; 
    color: #070707; 
  }
  
  tr:nth-child(odd) {
    background-color: #8999a5; 
    color: #fffdfd; 
  }
  
  
  
  
  tr:hover {
    background-color: #838f87;
  }
  
  
  button {
    
    background: #0e0e0f;
    color: #f7f4f4;
    border-radius: 3px;
  }
  button:hover {
    border-color1: #646cff;
  }
  button:active {
    background: #646cff;
    color: #fff;
  }
  
  
  