

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 
}
h1{
  font-size: 2.5em;
  font-weight: 600;
  color: #070707;

}
header{
 text-align: left;
 margin: 0 0 0px 0

}
header h1 {
  margin: 0;
  color: #0d0909; 
}


.search-bar {
  position: absolute; 
  top: 20px; 
  right: 20px; 
  margin: 0; 
}

.search-bar input {
  padding: 10px;
  font-size: 14px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.table-container {
  position: absolute; 
  top: 70px; 
  right: 20px; 
  width: 100%;
}

